#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk

# workaround FindKDE4Internal.cmake default rpath value
# see bug http://bugs.debian.org/564146
DEB_CMAKE_CUSTOM_FLAGS += -DCMAKE_SKIP_RPATH=ON

binary-install/kdevelop::
	install -D -p -m0644 debian/kdevelop.xpm \
		debian/kdevelop/usr/share/pixmaps/kdevelop.xpm

# Work around a conflict with kapptemplate
binary-install/kdevelop-data::
	find debian/$(cdbs_curpkg) -type f -name qmake_qt4guiapp.tar.bz2 | xargs rm -f
